@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anúncios</h1>
    <p class="lead">Teste WebMotors.</p>
    <p><a href="/Anuncio" class="btn btn-primary btn-lg">Ver Anúncios</a></p>
</div>

